
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark text-center align-middle justify-content-around">
    <a class="navbar-brand" routerLink="/profiles">Profiles</a>
    <a class="navbar-brand" routerLink="/history">History</a>
  </nav>
</div>


<div class="container text-center align-middle justify-content-center bg-dark">
  <router-outlet></router-outlet>
</div>
