<div class="pos-f-t">
  <nav class="navbar navbar-dark bg-dark text-center align-middle justify-content-around">
    <a class="navbar-brand" routerLink="/profiles">Profiles</a>
    <a class="navbar-brand" routerLink="/history">History</a>
  </nav>
</div>


<div class="container ">
  <router-outlet></router-outlet>
</div>
<div class="navigation text-center  align-middle align-content-center">
  <button routerLink="/profiles" class="btn btn-dark text-center  m-2 ">Profiles</button>
  <button routerLink="/history" class="btn btn-dark text-center  ">History</button>
</div>

