<div class="profiles text-center align-items-center bg-light d-flex align-content-center flex-column pt-2">
  <h1 class="">GitHub Profiles</h1>
  <h3>Search for a Profile now!</h3>

  <!-- Search Profiles Start -->
  <div class="search">
    <div class="input-group">
      <div class="form-outline">
        <input id="search-focus" type="search" [(ngModel)]="search" class="form-control" />
      </div>
      <button type="button" (click)="getProfile()" class="search btn btn-dark" height="2px">
        Get Profile
      </button>
    </div>
  </div>
  <!-- Search Profiles End -->


  <div class="result mt-3" *ngIf="showProfile">
    <div class="row">
      <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
        <img src="{{profile.avatar_url}}" alt="Profile Picture" height="250px" class="img-responsive rounded">
        <p>User: {{profile.login}}
        <p>
      </div>
      <div class="col-md-6 mt-5">
        <h6>Name: {{profile.name}}</h6>
        <hr>
        <h6>Company: {{profile.company}}</h6>
        <hr>
        <h6>Location: {{profile.location}}</h6>
        <hr>
      </div>
    </div>
  </div>
